# pandas Series
1. Create pandas series with different data types in different ways
2. Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100
3. create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.
4. What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.
Create pandas series with different data types in different ways

In [2]:
# Create pandas series with different data types in different ways

In [6]:
import pandas as pd
import numpy as np

In [4]:
# list
a = [10,20,30,40,50,60,70,80,90,100]

In [5]:
pd.Series(a)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [7]:
# tuple
b = (1,2,3,4,5,6,7,8,9)

In [8]:
pd.Series(b)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [9]:
arr = np.random.randint(100,200,9)

In [10]:
pd.Series(arr)

0    112
1    188
2    142
3    168
4    151
5    102
6    110
7    151
8    189
dtype: int32

Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [11]:
series= [10,30,40,1,3,6,14,18,23]
n=len(series)
a=pd.Series(series,index=list(range(100,100+n)))
a

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [12]:
a.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [13]:
a.head()

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [14]:
a.tail()

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [15]:
a.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [16]:
a.memory_usage()

144

create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

In [21]:
salaries=np.random.randint(30000,90000,30)

In [27]:
salaries

array([42480, 58192, 73804, 65853, 61435, 55545, 57473, 84344, 64013,
       74398, 45995, 70593, 87638, 53033, 50571, 68751, 89835, 67412,
       55715, 43122, 51829, 39534, 85238, 58701, 67956, 64047, 66386,
       63000, 34778, 54564])

In [28]:
sal = pd.Series(salaries,index = list(range(1,31)))

In [29]:
sal

1     42480
2     58192
3     73804
4     65853
5     61435
6     55545
7     57473
8     84344
9     64013
10    74398
11    45995
12    70593
13    87638
14    53033
15    50571
16    68751
17    89835
18    67412
19    55715
20    43122
21    51829
22    39534
23    85238
24    58701
25    67956
26    64047
27    66386
28    63000
29    34778
30    54564
dtype: int32

In [30]:
sal.mean()

61874.5

In [31]:
sal.median()

62217.5

In [32]:
sal.mode()

0     34778
1     39534
2     42480
3     43122
4     45995
5     50571
6     51829
7     53033
8     54564
9     55545
10    55715
11    57473
12    58192
13    58701
14    61435
15    63000
16    64013
17    64047
18    65853
19    66386
20    67412
21    67956
22    68751
23    70593
24    73804
25    74398
26    84344
27    85238
28    87638
29    89835
dtype: int32

In [33]:
sal.max()

89835

In [34]:
sal.min()

34778

In [36]:
sal.quantile(0.25)

53415.75

In [37]:
sal.quantile(0.5)

62217.5

In [38]:
sal.quantile(0.75)

68552.25

In [39]:
sal.var()

197513639.9827586

In [40]:
sal.std()

14053.954602984833

In [41]:
sal.describe()

count       30.000000
mean     61874.500000
std      14053.954603
min      34778.000000
25%      53415.750000
50%      62217.500000
75%      68552.250000
max      89835.000000
dtype: float64

What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

* Numpy deals with numerical values only
* Pandas deals with numerical values and string values

In [42]:
sal

1     42480
2     58192
3     73804
4     65853
5     61435
6     55545
7     57473
8     84344
9     64013
10    74398
11    45995
12    70593
13    87638
14    53033
15    50571
16    68751
17    89835
18    67412
19    55715
20    43122
21    51829
22    39534
23    85238
24    58701
25    67956
26    64047
27    66386
28    63000
29    34778
30    54564
dtype: int32

In [43]:
sal.ndim

1

In [45]:
sal = np.array([1,2,3,4,5,6,7,8,9],ndmin = 3)
sal

array([[[1, 2, 3, 4, 5, 6, 7, 8, 9]]])

In [46]:
sal.ndim

3

create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [49]:
number = list(range(100,150))
number

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149]

In [50]:
num = pd.Series(number)

In [53]:
num[40]

140

In [54]:
num[10:45:5]

10    110
15    115
20    120
25    125
30    130
35    135
40    140
dtype: int64