1.What are the column names in the Iris dataset?     
2.How many rows and columns are there in the dataset?     
3.Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?    
4.What is the average sepal length?    
5.what is the largest petal length, and what is its value?   
6.What is the mean and standard deviation of petal width for the Setosa species?    
7.Check for missing values in the dataset    
8.Extract the Species column using loc and iloc method    
9.Drop sepal Width column    
10.Get petalwidth 10th value using at and iat

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\Satish\Downloads\Iris_clean.xlsx")

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [8]:
# 1
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [9]:
# 2
df.shape

(165, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             165 non-null    int64
 1   SepalLengthCm  161 non-null    float64
 2   SepalWidthCm   159 non-null    float64
 3   PetalLengthCm  159 non-null    float64
 4   PetalWidthCm   165 non-null    float64
 5   Species        160 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.9+ KB

In [10]:
# 3
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  165.000000     161.000000    159.000000     159.000000    165.000000
mean    83.000000       7.510559      4.713208       4.022642      2.810909
std     47.775517      11.162995     13.468999       2.052505     12.097722
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     42.000000       5.100000      2.800000       1.600000      0.400000
50%     83.000000       5.800000      3.000000       4.500000      1.500000
75%    124.000000       6.500000      3.300000       5.150000      1.900000
max    165.000000     116.300000    130.000000      13.800000    111.100000

In [13]:
SepalLengthCm = df['SepalLengthCm']
SepalLengthCm

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [14]:
SepalLengthCm.mean()

7.510559006211181

In [15]:
SepalLengthCm.median()

5.8

In [16]:
SepalLengthCm.mode()

0    5.0
1    5.1
2    6.3
3    6.7
Name: SepalLengthCm, dtype: float64

In [17]:
SepalLengthCm.var()

124.61245031055901

In [18]:
SepalLengthCm.std()

11.162994683800536

In [19]:
SepalLengthCm.info

<bound method Series.info of 0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64>

In [20]:
# SepalWidthCm
SepalWidthCm = df['SepalWidthCm']
SepalWidthCm

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
160    2.8
161    2.7
162    3.6
163    3.2
164    2.7
Name: SepalWidthCm, Length: 165, dtype: float64

In [21]:
SepalWidthCm.mean()

4.713207547169812

In [23]:
SepalWidthCm.median()

3.0

In [24]:
SepalWidthCm.mode()

0    3.0
Name: SepalWidthCm, dtype: float64

In [25]:
SepalWidthCm.var()

181.41393838070218

In [26]:
SepalWidthCm.std()

13.468999160320049

In [27]:
# 4 
length = df['SepalLengthCm']
length

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [29]:
avg = length.mean()

In [30]:
avg

7.510559006211181

In [33]:
# 5 
a = df['PetalLengthCm']

In [36]:
a.max()

13.8

In [37]:
# 6
a = df['PetalWidthCm']

In [38]:
a.var()

146.35488026607536

In [39]:
a.std()

12.097722110632041

In [40]:
a.mean()

2.810909090909091

In [41]:
# 7
missing_values = df.isna()
missing_values

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
160  False          False         False          False         False     True
161  False          False         False          False         False    False
162  False          False         False          False         False    False
163  False          False         False          False         False    False
164  False          False         False          False         False    False

[165 rows x 6 columns]

In [42]:
missing_values.head(10)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0  False          False         False          False         False    False
1  False          False         False          False         False    False
2  False          False         False          False         False    False
3  False          False         False          False         False    False
4  False          False         False          False         False    False
5  False          False          True          False         False     True
6  False          False         False          False         False    False
7  False          False         False          False         False    False
8  False          False         False          False         False    False
9  False          False         False           True         False    False

In [43]:
missing_values.tail(10)

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
155  False          False         False          False         False    False
156  False          False         False          False         False    False
157  False          False         False          False         False    False
158  False          False         False          False         False    False
159  False          False         False          False         False    False
160  False          False         False          False         False     True
161  False          False         False          False         False    False
162  False          False         False          False         False    False
163  False          False         False          False         False    False
164  False          False         False          False         False    False

In [47]:
# 8
df.loc[0:,['Species']]

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

In [48]:
df.iloc[0:,[5]]

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

In [49]:
# 9
df.drop('SepalWidthCm',axis = 1)

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

In [51]:
# 10
PetalWidthCm = df.at[10,'PetalWidthCm']
PetalWidthCm

0.2

In [52]:
PetalWidthCm = df.iat[10,4]
PetalWidthCm

0.2