Assignment Task 1:

Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

Assignment Task 2:

Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

Assignment Task 3:

Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

Assignment Task 4:

Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

Assignment Task 5:

Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

Assignment Task 6:

Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.
Assignment Task 7:

Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

Add a new number to the set. Remove a number from the set. Check if a specific number is in the set. Find the size of the set.

Assignment Task 8:

Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7thposition using slicing.

Assignment Task 9:

Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

Assignment Task 10:

Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

Assignment Task 1:

Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [1]:
fruits = ("mango","apple","banana","grape","kiwi")

In [2]:
fruits

('mango', 'apple', 'banana', 'grape', 'kiwi')

In [4]:
type(fruits)

tuple

In [5]:
fruits[0]

'mango'

In [6]:
fruits[1]

'apple'

In [7]:
fruits[2]

'banana'

In [8]:
fruits[3]

'grape'

In [9]:
fruits[4]

'kiwi'

Assignment Task 2:

Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [11]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)

In [12]:
a = tuple1 + tuple2

In [13]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:
len(a)

10

Assignment Task 3:

Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

In [18]:
a = {2,4,6,8,10,12,14,16,18,20}

In [19]:
a

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [20]:
type(a)

set

Assignment Task 4:

Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [15]:
set1 ={1,2,3,4,5,6,7,8,9,10}
set2 = {5,6,7,8,9,10,11,12,13}

In [16]:
set1.union(set2)       #union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [17]:
set1.intersection(set2)      #intersection

{5, 6, 7, 8, 9, 10}

In [22]:
set1.difference(set2)      #difference

{1, 2, 3, 4}

Assignment Task 5:

Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

In [23]:
tup = (1,2,3,4,5,6,7,8,9)

In [24]:
type(tup)

tuple

In [25]:
a = set(tup)

In [26]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
type(a)

set

In [28]:
max(a)

9

In [29]:
min(a)

1

Assignment Task 6:

Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

* Yes tuple is immutbale

In [1]:
tup =(1,2,3,4,5,6)
tup1 =(7,8,9,10,11,12)

In [2]:
a = tup + tup1

In [3]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [5]:
a.count(11)

1

* original input cannot be changed because it is immutable. cannot be changed. we cannot add or remove the elements from the input

In [7]:
a.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
## example why list and set is mutable

In [9]:
b = [1,2,3,4,5,6]

In [10]:
type(b)

list

In [11]:
b.append(50)

In [12]:
b

[1, 2, 3, 4, 5, 6, 50]

In [14]:
## input is 1,2,3,4,5,6 after we have did some operation or methods the input c has change to 1,2,3,4,50. it is mutable

Assignment Task 7: Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

Add a new number to the set. Remove a number from the set. Check if a specific number is in the set. Find the size of the set.

In [15]:
s ={90,91,95,96,99,97}

In [16]:
type(s)

set

In [17]:
s.add(100)

In [19]:
s       # 100 is add in s

{90, 91, 95, 96, 97, 99, 100}

In [20]:
s.remove(91)

In [22]:
s ## 91 has removed from s

{90, 95, 96, 97, 99, 100}

In [23]:
type(s)

set

In [24]:
s

{90, 95, 96, 97, 99, 100}

In [25]:
89 in s

False

In [26]:
90 in s

True

In [27]:
90 not in s

False

In [28]:
len(s)

6

Assignment Task 8: Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [29]:
tu = ("sa","as","ss","aa","sal")

In [30]:
type(tu)

tuple

In [33]:
tu[2:4]

('ss', 'aa')

In [34]:
tu[1:5]

('as', 'ss', 'aa', 'sal')

In [39]:
tp =tu[-5:-3:1]

In [40]:
tp

('sa', 'as')

Assignment Task 9: Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [44]:
list_1 =[11,11,22,22,33,44,55,66,77,88,99]

In [45]:
a = set(list_1)

In [46]:
a

{11, 22, 33, 44, 55, 66, 77, 88, 99}

In [47]:
len(a)

9

In [48]:
no_of_duplicates = len(list_1) - len(a)

In [49]:
no_of_duplicates

2

Assignment Task 10: Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [50]:
frnds_fav=("RRR", "Eega", "Kantara", "Pushpa")

In [51]:
my_fav={"Djtillu", "Birdbox","Pushpa","RRR","Sitaramam"}

In [52]:
both = set(frnds_fav)

In [53]:
both

{'Eega', 'Kantara', 'Pushpa', 'RRR'}

In [54]:
my_fav.intersection(both)

{'Pushpa', 'RRR'}