* Write a program that calculates the `sum, difference, product, and quotient` of two numbers: 10 and 5.
* Create a program that calculates the `area of a circle` with a radius of 4.5 units.

In [1]:
x = 10
y = 5

In [2]:
print(x+y)      #sum

15

In [3]:
print(x-y)  #difference

5

In [4]:
print(x*y)     #product

50

In [5]:
print(x//y)   #quotient

2

In [16]:
x = 22/7     #value of pie

In [17]:
x

3.142857142857143

In [18]:
y = 4.5  #redius given

In [19]:
x*(y**2)   #area of circle

63.64285714285714

*  Write a program that `swaps` the values of two variables: x with a value of 5 and "y" with a value of 10.
* Create a program that calculates `compound interest` for a principal amount of $1000, an interest rate of 5%, and a time period of 3 years.

In [20]:
x = 5
y = 10

In [21]:
x,y=y,x      #swaps

In [22]:
x

10

In [23]:
y

5

*Compound Interest formula CI = Amount - Principal

In [27]:
principal = 1000
rate = 5
time = 3

In [38]:
amount = principal*((1+(rate/100))**3)

In [39]:
amount

1157.6250000000002

In [41]:
CI= amount-principal

In [42]:
CI

157.62500000000023

* Write a program that `compares` two numbers: 7 and 12, and determines whether the first number is greater than, less than, or equal to the second number.
* Create a program that `checks` if a person of age 18 is eligible to vote based on the voting age requirement.(True/False)

In [43]:
x = 7
y = 12

In [44]:
x>y

False

In [45]:
x<y

True

In [46]:
x == y

False

In [47]:
age = 18
voting = 18

In [48]:
age>=voting

True

In [85]:
age = 18 
if age>= 18:
    print("eligible")
else:
    print("not eligible")

eligible

* Create a program that `swaps` the values of two integers: `a` with a value of 10 and `b` with a value of 20 using
 *  bitwise XOR (^) operator.
 * Logical AND
 * Logical OR
 * Logical NOT

In [81]:
a = 10
b = 20                    #xor(^)

In [82]:
a = a^b
b = a^b
a=c

In [86]:
a

10

In [87]:
b

10

In [88]:
10^20

30

In [89]:
30^10

20

In [78]:
a = 10
b = 20    #and

In [66]:
(a==b) and (b>=b)

False

In [67]:
(b>=a) and (b!=a)

True

In [68]:
a = 10
b = 20    #or

In [69]:
(a==b) or (a>=b)

False

In [70]:
(a<=b) or (a!=b)

True

In [71]:
a = 10
b = 20       #not

In [73]:
not(a>b)

True

In [74]:
not(a>b)

True

*  Create a Python program that calculates the `area of a rectangle`. Prompt the `user to enter` the length and width of the rectangle, `store them` in variables, and compute the area using the formula:area length width.Finally, `print the calculated area.

* Create a Python program that calculates the `average` of three exam scores. Prompt the user to enter the scores, `store them` in variables, calculate the average, and print the result.

* Write a Python program that `converts` temperature from Celsius to Fahrenheit. Prompt the user to enter a temperature in Celsius, store it in a variable, and convert it to Fahrenheit using the formula: `Fahrenheit = (Celsius* 9/5)+32`, and print the converted temperature.

* What are the `logical operators` in Python? Explain `each one` with an example.

* What are the `membership` operators in Python? Explain their usage with examples

* List and briefly explain the `basic data types` available in Python.

* Write a Python code snippet that `assigns a value to a variable `and determines its `data type` using the type() function.

In [91]:
length = int(input("enter the length"))
width = int(input("enter the width"))
area = length*width
print(area)

enter the length12
enter the width10
120

In [90]:
score_1 = int(input("enter score_1:"))
score_2 = int(input("enter score_2:"))
score_3 = int(input("enter score_3:"))
no_of_students = 3
sum_scores = score_1 + score_2 + score_3
average = sum_scores/no_of_students
print(average)

enter score_1:70
enter score_2:85
enter score_3:90
81.66666666666667

In [98]:
Celsius = int(input("enter the celsius:"))
Fahrenheit = (celsius*9/5)+32
print(Fahrenheit)

enter the celsius:45
113.0

Logical operator are : and , or and not

* 'and' logical operator --> has condition and value

*  if any condition false, the complete condition is false.

 * in value 'and' operator takes the last value .

In [100]:
#ex
a = 10
b = 20
(a>b) and (a<b)

False

In [101]:
10 and 20 and 30

30

* or logical operator --> has condition and value

* if any condition is True , the complete condition is true

* in value 'or' operator takes first value

In [104]:
a = 10
b = 20
(a>b) or (a<b)

True

In [106]:
11 or 27 or 39

11

* not logical operator --> condition and value

*   if condition is true its gives output as false

*   only 0, 0.0 , "" this values are consider as False remaining are True

In [108]:
a = 10
b = 20
not(a>b)

True

In [109]:
not 15

False

In [111]:
not 0.000

True

* Membership operator(in, not in)
* its check the characters of the string wheather its present or not --> which give the output as True or False

* its even the checks the spaces to .

In [113]:
#ex
name = "satish"

In [117]:
"a" in name

True

In [119]:
"satish"  not in name

False


Basic data types
its in single .
They are :

    - numerical
    - non numerical 
In numerical :

- int (3,45,5,4,)

- float(9.4,4.5)

- complex (23+6j)

In non numerical :

- bool(True or False)

- string ("hjguygfuyg") ---> its acts both basic and collection
Write a Python code snippet that assigns a value to a variable and determines its data type using the type() function.

In [120]:
number = 55
print(number)
type(number)

55

int

In [121]:
higth = 6.6
print(higth)
type(higth)

6.6

float

In [122]:
string = "gfdsmfuyr"
print(string)
type(string)

gfdsmfuyr

str

In [123]:
mynum = True
print(mynum)
type(mynum)

True

bool

Assignment: Basic Python Operators

**Task 1: Arithmetic Operators**
1. Write a Python program that takes two user-input numbers and displays their sum using the addition operator.
2. Create a program to calculate the area of a rectangle. Prompt the user for the length and width, then use multiplication to find the area.
3. Implement a program that converts temperature from Celsius to Fahrenheit using the formula: Fahrenheit = (Celsius * 9/5) + 32.

**Task 2: Comparison Operators**
1. Write a program that compares two user-input numbers and prints whether the first number is greater than the second number or not.
2. Create a program that determines whether a user-input year is a leap year or not. A leap year is divisible by 4 and not divisible by 100, unless it is also divisible by 400.
3. Implement a simple guessing game. Generate a random number between 1 and 100 and have the user guess the number. Provide feedback if their guess is too high or too low, and let them know when they've guessed correctly.

**Task 3: Logical Operators**
1. Write a program that checks whether a user-input number is positive and even using logical AND (`and`) operator.
2. Create a login system where you define a correct username and password. Ask the user for their input and compare it with the correct credentials using logical OR (`or`) operator. Provide access if either the username or password is correct.
3. Implement a program that determines whether a given year is a leap year and divisible by 7 using logical NOT (`not`) operator.

**Task 4: Assignment Operators**
1. Write a program to calculate the square of a number using the exponentiation operator (`**`) and assign it back to the same variable.
2. Create a program that keeps track of the total score in a game. Prompt the user for their latest score and update the total score using the addition assignment operator (`+=`).
3. Implement a program to convert seconds into hours, minutes, and remaining seconds using both division and modulo operators, and then assign each value using assignment operators.

**Task 5: Bitwise Operators**
1. Write a program that performs a bitwise AND operation between two user-input numbers and displays the result.
2. Create a program to toggle the nth bit of a given number. Ask the user for the number and the value of n, then use bitwise XOR (^) operator to toggle the bit.
3. Implement a program to swap the values of two variables without using a temporary variable, only using bitwise XOR (^) operator.

In [1]:
 #1
a =int(input("enter number"))
b =int(input("enter age"))
sum = a + b
print(sum)

enter number54622346
enter age22
54622368

In [2]:
#2
year = int(input("enter a year"))
if (year% 4 == 0 ) and (year != 100):
    print("Its a leap year")
elif (year % 400 == 0) and (year % 100 == 0):
    print("its a leap year")
    
else:
    print("its not a leap year")

enter a year2000
Its a leap year

In [3]:
#3)
import random
guess_number = int(input("enter a number between 1 to 100 :"))
random_number = random.randint(1, 100)
if guess_number > random_number:
    print("too high")
else:
    print("too low")

enter a number between 1 to 100 :55
too high

In [4]:
#4)
number = int(input("enter a number:"))
if (number>0) and (number%2 == 0 ):
    print("its a  positive even number ")
else: 
    print("its a not a positive even number")

enter a number:4
its a  positive even number

In [5]:
username = "satish"
password = "Satish011"
input_username = input("enter a username: ")
input_password = input("enter a password: ")
if (input_username == username) or (input_password == password):
    print("Access granted")
else:
    print("Access not granted")

enter a username: satish
enter a password: Satish011
Access granted

In [6]:
year = int(input("enter a year :"))
leap_year_7divisible= ((year% 4 == 0 ) and (year != 100) and (year%7 ==0)) or ((year % 400 == 0) and (year % 100 == 0) and (year%7 ==0))
if not (leap_year_7divisible):
    print("its not year is a leap year and divisible by 7 ")
else:
    print("year is a leap year and divisible by 7")

enter a year :22
its not year is a leap year and divisible by 7

In [8]:
a = 4
power= a**a
power

256

In [9]:
b = int(input("enter a squre number :"))
Sqaure_value = b ** b
Sqaure_value

enter a squre number :6

46656

In [10]:
score_1 = int(input("enter the first score :"))
score_2= int(input("enter the second score :"))
last_score = int(input("enter the last score :"))

score_1 += score_2
last_score += score_1
total_score = last_score
print(total_score)

enter the first score :40
enter the second score :50
enter the last score :65
155

In [11]:
seconds = int(input("enter a seconds:"))
hours = seconds/3600
minutes = seconds/60
print("hours :",hours)
print("minutes :", minutes)

enter a seconds:6000
hours : 1.6666666666666667
minutes : 100.0

In [12]:
a = int(input("enter a number :"))
b = int(input("enter a number :"))
a & b

enter a number :2
enter a number :3

2

In [13]:
a = int(input("enter a number :"))
n = int(input("enter a value of n :"))
a^n

enter a number :20
enter a value of n :6

18

In [14]:
a = 30  
b  = 20
a= a^b
b= a^b
a = a^b

In [15]:
a

20

In [16]:
b

30