Assignment Tasks on String Escape Characters, Indexing, and Slicing:

String Escape Characters:

Task 1:

Create a string containing a sentence that includes both single and double quotes.
Use escape characters to include quotes within the string.
Print the modified string.
Task 2:

Declare a string with a backslash \ character in it.
Demonstrate the use of the escape character to print the backslash itself.
Print the resulting string.
Task 3:

Construct a string containing newline and tab escape sequences.
Print the string to display the formatted output.
Indexing and Slicing:

Task 4:

sentence = "I want to become Data Scientist".
Access and print the first character of the string using indexing.
Access and print the last character of the string using negative indexing.
Task 5:

What are possible ways yo extract Scientist(use forward and reverse)
Use slicing to extract and print the first word from the string.
Use slicing to extract and print the last three characters of the string.
Task 6:

name = "Innomatics Reserach Labs"
Apply slicing to extract a substring that includes the second to fifth characters.
Print the extracted substring.
Task 7:

string = "Python@1234"
Use slicing to extract every second character from the string.
Print the resulting sliced string.
Task 8:

print last five letters.
Utilize slicing to reverse the word order in the string.
Print the string with the words in the reversed order.
Task 9:

a = "123123123"
Apply slicing to extract only the numeric characters at odd positions.
Print the sliced result.
Remember to include explanations or comments for each task's code to ensure clarity. Additionally, encourage students to experiment further with different escape characters and slicing techniques beyond the provided tasks to deepen their understanding.

In [2]:
string = "satish's plane"
print(string)
string

satish's plane

"satish's plane"

In [4]:
string = 'satish has "plane"'
print(string)
string

satish has "plane"

'satish has "plane"'

In [5]:
string = 'satish\'s plane'
print(string)

satish's plane

In [11]:
string = "satish has\"plane\""
print(string)

satish has"plane"

In [13]:
#task 2
string = "hello  \bworld"
print(string)

hello  world

In [14]:
string = "hello\\world"
print(string)

hello\world

In [5]:
# task 3
staring = " i am satish and \n i am from hyderabad"
print(staring)

 i am satish and
 i am from hyderabad

In [6]:
string = "sum of numbers \\no.of numbers"
print(string)

sum of numbers \no.of numbers


Indexing - extracting single character

* var_name[index number]

* index starts from "0"

In [7]:
name = "kazipet"

In [9]:
name[0]

'k'

In [10]:
name[-1]

't'

slicing
* accessing group of character from the data

* variable_name[start:stop:step]

In [11]:
name = "kazipet"

In [12]:
name[0:3:1]

'kaz'

In [16]:
name[0:6:2]

'kzp'

* Start : if we don't provide start value then it takes first value (index[0])

* step : if we don't provide step value, its takes "1" as default value

* stop : if we don't provide stop value , its takes untill last value

* In slicing we give more than index number still it accepts the number and print upto the last index number

In [17]:
name[:3:1]

'kaz'

In [18]:
name[2:7]

'zipet'

In [22]:
name[3::1]

'ipet'

In [21]:
name[0:10]

'kazipet'

Task 4:

sentence = "I want to become Data Scientist".

1)Access and print the first character of the string using indexing.

2)Access and print the last character of the string using negative indexing.

In [1]:
sentence = "i want to become data scientist"

In [2]:
sentence[0]  # starts from '0' index number is 0

'i'

In [3]:
sentence[-1] # last character index value starts from -1

't'

Task 5:

1)What are possible ways yo extract Scientist(use forward and reverse)

2)Use slicing to extract and print the first word from the string.

3)Use slicing to extract and print the last three characters of the string.

In [4]:
#1) They are tw0 ways we can extract by using forward and reverse slicing

In [5]:
sentence = "I want to become Data Scientist"

In [6]:
# forward slicing
sentence[22::]  # start index value is  22 whivh meanss "s" from this  we no need give any value to stop and step its take default value as 1

'Scientist'

In [7]:
sentence[-10::]   # reverse silicing

' Scientist'

In [8]:
#2)
sentence[0:1] #  from sentence first word is I so its starts from 0 and stops at 1

'I'

In [9]:
#3)
sentence[0:3]    # first three characters are start -0, stop-3 and step is 1

'I w'

Task 6:

name = "Innomatics Reserach Labs"

1)Apply slicing to extract a substring that includes the second to fifth characters.

2)Print the extracted substring.

In [10]:
name = "innomatics reserach labs"

In [13]:
#1)
extracted_subString = name[1:5]  # starts-1 and stops 5 means its prints nnom which is 2-5 , step value by default its 1

In [14]:
#2) 
print(extracted_subString)

nnom

Task 7:

string = "Python@1234"

1)Use slicing to extract every second character from the string.

2)Print the resulting sliced string.

In [16]:
string = "python@1234"
resulted_string = string[1::2] # here i use step as 2 because we need every second character from the string  and starts with 1 because i didn't reqire first char
string[1::2]

'yhn13'

In [17]:
print(resulted_string)

yhn13

Task 8:

print last five letters.

Utilize slicing to reverse the word order in the string.

Print the string with the words in the reversed order.

In [18]:
string = "puthon@1234"

In [19]:
string[6:]

'@1234'

In [20]:
print(string[6:])

@1234

In [21]:
string[::-1]

'4321@nohtup'

In [24]:
print(string[::-1])

4321@nohtup

Task 9:

a = "123123123"

Apply slicing to extract only the numeric characters at odd positions.

Print the sliced result.

In [25]:
a = "123123123"

In [26]:
result = a[0::2]  # for odd place we need step as 2 which means  index value are  0,2,4,5,6...
a[0::2]

'13213'

In [27]:
print(result)

13213