1)Ask user to enter a website name and check whether it is valid or not(True/False)

2)name = "Innomatics", course = "Data Science" write python code in different ways to show output as : "Hello World I am learning Data Science in Innomatics"

3)Replace Science with Analysis in the above output.

4)string = ' Hello World I am learning Python in Innomatics ' a. How many characters are there in the string. b. Slice only 'Python' from above string c. Remove white spaces on both sides then find no.of characters in the string. d. Convert the string in Upper case

5)What is the index number of 'World' in above string.

6)Split the string with respect to whitespace.after that store that splitted into a variable and find the data typeof that variable.

7)How many times 'a' is repeated in above string.

1)Ask user to enter a website name and check whether it is valid or not(True/False)

In [1]:
name = input("enter the website ::")
name.startswith("www.") and name.endswith(".com")

enter the website ::www.satish.com

True

In [2]:
name = "innomatics"
course = "data science"
print("Hello World I am learning Data Science in Innomatics"+course+"in"+name)

Hello World I am learning Data Science in Innomaticsdata scienceininnomatics

In [3]:
# second way
print("Hello World I am learning {} in {}".format(course,name))

Hello World I am learning data science in innomatics

In [4]:
# third way
print(f"Hello World I am learning {course} in {name}")

Hello World I am learning data science in innomatics

In [5]:
#fourth way
print ( "Hello World I am learning ",course,"in ",name)

Hello World I am learning  data science in  innomatics

3)Replace Science with Analysis in the above output.

In [6]:
str = "Hello World I am learning Data Science in Innomatics"

In [7]:
str.replace("science","analysis")

'Hello World I am learning Data Science in Innomatics'

4)string = ' Hello World I am learning Python in Innomatics ' a. How many characters are there in the string. b. Slice only 'Python' from above string c. Remove white spaces on both sides then find no.of characters in the string. d. Convert the string in Upper case

In [8]:
string = "hello world i am learning python in innomatics"

In [9]:
# a)
len(string)  # length of string givens the no . of charcater

46

In [10]:
string[-21:-14:]

' python'

In [11]:
string.strip()

'hello world i am learning python in innomatics'

In [12]:
string.upper()

'HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS'

In [13]:
string.lower()

'hello world i am learning python in innomatics'

5)What is the index number of 'World' in above string.

In [14]:
string.index("world")

6

6)Split the string with respect to whitespace.after that store that splitted into a variable and find the data typeof that variable.

In [15]:
string

'hello world i am learning python in innomatics'

In [16]:
string.split()

['hello', 'world', 'i', 'am', 'learning', 'python', 'in', 'innomatics']

In [17]:
a = string.split()

In [18]:
type(a)

list

7)How many times 'a' is repeated in above string.

In [19]:
string

'hello world i am learning python in innomatics'

In [20]:
string.count("a")

3